/* Sayfa ve gövdeyi yapılandır */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../static/Designer.jpg'); /* Arka plana görsel ekleyin */
    background-size: cover; /* Görselin tüm alanı kaplamasını sağlar */
    background-position: center; /* Görselin ortalanmasını sağlar */
    background-attachment: fixed; /* Arka planın sayfa kaydırıldığında sabit kalmasını sağlar */
}

.form {
    background-color: rgba(255, 255, 255, 0.8); /* Formun arka planı hafif opak olacak şekilde ayarlanır */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Form genişliğini ayarlayabilirsiniz */
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
