body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("lockscreen.png") center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-container button {
    width: 95%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Butonlar arasına mesafe ekler */
}

.login-container button:hover {
    background-color: #0056b3;
}
